<td-layout-nav logo="assets:covalent" class="dark-grey-blue">
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span>Dashboard</span>
    <span flex ></span>
    <button md-icon-button [mdMenuTriggerFor]="notificationsMenu">
      <td-notification-count color="accent" [notifications]="4">
        <md-icon>apps</md-icon>
      </td-notification-count>
    </button>
    <md-menu #notificationsMenu="mdMenu">
      <td-menu>
        <div td-menu-header class="md-subhead">REPLACE</div>
        <md-nav-list dense>
          <a md-list-item [routerLink]="['/']">
            <md-icon md-list-avatar>system_update_alt</md-icon>
            <h4 md-line><span class="text-wrap">Cool things</span></h4>
            <p md-line>Cool description</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/dashboard']">
            <md-icon md-list-avatar>dashboard</md-icon>
            <h4 md-line><span class="text-wrap">Cool things</span></h4>
            <p md-line>Cool description</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/email']">
            <md-icon md-list-avatar>email</md-icon>
            <h4 md-line><span class="text-wrap">Cool things</span></h4>
            <p md-line>Cool description</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/editor']">
            <md-icon md-list-avatar>view_array</md-icon>
            <h4 md-line><span class="text-wrap">Cool things</span></h4>
            <p md-line>Cool description</p>
          </a>
        </md-nav-list>
      </td-menu>
    </md-menu>
  </div>
  <div class="bgc-black inset charts-dark" flex>
    <div layout-gt-xs="row" layout-wrap>
      <div flex-gt-xs="60">
        <md-card>
          <md-card-title>Steps (insert icon here)</md-card-title>
          <md-card-subtitle>subtitle maybe?</md-card-subtitle>
          <md-divider></md-divider>
          <div style="height:290px;overflow:hidden;" class="pad-top-sm">
            <ngx-charts-pie-grid
              [scheme]="colorScheme"
              [results]="steps"
              (select)="onSelect($event)">
            </ngx-charts-pie-grid>
          </div>
        </md-card>
      </div>
      <div flex-gt-xs="40">
        <div layout-gt-xs="row">
          <div flex-gt-xs="100">
            <md-card>
              <md-card-title>Current heartrate</md-card-title>
              <md-divider></md-divider>
              <button md-fab color="primary" class="hrButton hrLarge"><span id="currentHrText">69</span></button>
              <md-divider></md-divider>
              <md-card-title>Yesterday's stats</md-card-title>
              <div layout="row" layout-align="space-around center">
                <div layout="column"><label>Min</label><button md-fab color="accent" class="hrButton">69</button></div>
                <div layout="column"><label>Average</label><button md-fab color="orange" class="hrButton">69</button></div>
                <div layout="column"><label>Max</label><button md-fab color="warn" class="hrButton">69</button></div>
              </div>
            </md-card>
          </div>
        </div>
      </div>
      <div flex-gt-xs="100">
        <md-card>
          <md-card-title>Sleep tracked this week<md-icon id="sleepIcon" class="md-icon-logo" svgIcon="assets:sleep"></md-icon></md-card-title>
          <md-divider></md-divider>
          <div style="height:250px;" class="pad-top">
            <ngx-charts-bar-vertical
              [scheme]="colorScheme"
              [results]="sleep"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
          </div>
        </md-card>
      </div>
    </div>
  </div>
  <a md-fab color="accent" class="md-fab-position-bottom-right" style="bottom:20px;" href="https://github.com/Teradata/covalent-quickstart/tree/develop/src/app/templates" target="_blank">
    <md-icon>code</md-icon>
  </a>
</td-layout-nav>
