<td-layout-nav style="color: blue" logo="assets:reemo" class=white-orange>
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span>Sergio Najera's Dashboard</span>
    <span flex ></span>
    <button md-icon-button [mdMenuTriggerFor]="notificationsMenu">
      <td-notification-count color="accent" [notifications]="3">
        <md-icon>apps</md-icon>
      </td-notification-count>
    </button>
    <md-menu #notificationsMenu="mdMenu">
      <td-menu>
        <div td-menu-header class="md-subhead">For your convenience</div>
        <md-nav-list dense>
          <a md-list-item [routerLink]="['/']">
            <md-icon md-list-avatar>system_update_alt</md-icon>
            <h4 md-line><span class="text-wrap">Download data</span></h4>
            <p md-line>Download all data collected</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/dashboard']">
            <md-icon md-list-avatar>dashboard</md-icon>
            <h4 md-line><span class="text-wrap">Switch view</span></h4>
            <p md-line>Switch between simple/detailed</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/email']">
            <md-icon md-list-avatar>get_app</md-icon>
            <h4 md-line><span class="text-wrap">Download the app</span></h4>
            <p md-line>Available on Android</p>
          </a>
        </md-nav-list>
      </td-menu>
    </md-menu>
  </div>
  <div class="bgc-black inset charts-dark" flex>
    <div layout-gt-xs="row" layout-wrap>
      <div flex-gt-xs="60">
        <md-card>
          <md-card-title>Steps <i class="material-icons">directions_walk</i></md-card-title>
          <md-card-subtitle>Data collected from: 2/23 - 3/1</md-card-subtitle>
          <md-divider></md-divider>
          <div style="height:360px;overflow:hidden;" class="pad-top-sm">
            <ngx-charts-pie-grid
              [scheme]="colorScheme"
              [results]="steps"
              (select)="onSelect($event)">
            </ngx-charts-pie-grid>
          </div>
        </md-card>
      </div>
      <div flex-gt-xs="40">
        <div layout-gt-xs="row">
          <div flex-gt-xs="100">
            <md-card>
              <md-card-title>Current heartrate <i class="material-icons">favorite</i></md-card-title>
              <md-card-subtitle>Last measured at: 2:52 A.M.</md-card-subtitle>
              <md-divider></md-divider>
              <button md-fab color="primary" class="hrButton hrLarge"><span id="currentHrText">86</span></button>
              <md-divider></md-divider>
              <md-card-title>Yesterday's stats <i class="material-icons">call_missed</i></md-card-title>
              <div layout="row" layout-align="space-around center">
                <div layout="column"><label style="margin-left: 25px">Min</label><button md-fab style="background-color: green" class="hrButton">71</button></div>
                <div layout="column"><label style="margin-left: 10px">Average</label><button md-fab color="accent" class="hrButton">86</button></div>
                <div layout="column"><label style="margin-left: 25px">Max</label><button md-fab color="warn" class="hrButton">100</button></div>
              </div>
            </md-card>
          </div>
        </div>
      </div>
      <div flex-gt-xs="100">
        <md-card>
          <md-card-title>Sleep tracked this week <i class="material-icons">local_hotel</i></md-card-title>
          <md-divider></md-divider>
          <div style="height:250px;" class="pad-top">
            <ngx-charts-bar-vertical
              [scheme]="colorScheme"
              [results]="sleep"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
          </div>
        </md-card>
      </div>
    </div>
  </div>
  <a md-fab color="accent" class="md-fab-position-bottom-right" style="bottom:20px;" href="http://reemohealth.com/contact-us/" target="_blank">
    <i class="material-icons">help</i>
  </a>
</td-layout-nav>
