<td-layout-nav logo="assets:covalent" class="dark-grey-blue">
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span>Dashboard</span>
    <span flex ></span>
    <button md-icon-button [mdMenuTriggerFor]="notificationsMenu">
      <td-notification-count color="accent" [notifications]="4">
        <md-icon>apps</md-icon>
      </td-notification-count>
    </button>
    <md-menu #notificationsMenu="mdMenu">
      <td-menu>
        <div td-menu-header class="md-subhead">REPLACE</div>
        <md-nav-list dense>
          <a md-list-item [routerLink]="['/']">
            <md-icon md-list-avatar>system_update_alt</md-icon>
            <h4 md-line><span class="text-wrap">Cool things</span></h4>
            <p md-line>Cool description</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/dashboard']">
            <md-icon md-list-avatar>dashboard</md-icon>
            <h4 md-line><span class="text-wrap">Cool things</span></h4>
            <p md-line>Cool description</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/email']">
            <md-icon md-list-avatar>email</md-icon>
            <h4 md-line><span class="text-wrap">Cool things</span></h4>
            <p md-line>Cool description</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/editor']">
            <md-icon md-list-avatar>view_array</md-icon>
            <h4 md-line><span class="text-wrap">Cool things</span></h4>
            <p md-line>Cool description</p>
          </a>
        </md-nav-list>
      </td-menu>
    </md-menu>
  </div>
  <div class="bgc-black inset charts-dark" flex>
    <div layout-gt-xs="row" layout-wrap>
      <div flex-gt-xs="30">
        <md-card>
          <md-card-title>Steps (insert icon here)</md-card-title>
          <md-divider></md-divider>
          <div style="height:250px;">
            <ngx-charts-pie-grid
              [scheme]="colorScheme"
              [results]="single"
              (select)="onSelect($event)">
            </ngx-charts-pie-grid>
          </div>
        </md-card>
      </div>
    </div>
    <div flex-gt-xs="50">
      <div style="height:224px;overflow:hidden;" class="pad-top">
        <md-card>
        <md-card-title>Current heartrate</md-card-title>
        <button md-fab color="primary" style="padding-bottom: 10px">
          69
        </button>
        <md-divider></md-divider>
        <md-card-title>Weekly stats</md-card-title>
        <p>Some chrats to the right</p>
      </md-card>
        </div>
      <div flex-gt-xs="33">
        <md-card>
          <md-card-title>Product Sales</md-card-title>
          <md-divider></md-divider>
          <div style="height:250px;" class="pad-top">
            <ngx-charts-bar-vertical-2d
              [scheme]="colorScheme"
              [results]="multi"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical-2d>
          </div>
        </md-card>
      </div>
    </div>
    </div>
  <a md-fab color="accent" class="md-fab-position-bottom-right" style="bottom:20px;" href="https://github.com/Teradata/covalent-quickstart/tree/develop/src/app/templates" target="_blank">
    <md-icon>code</md-icon>
  </a>
</td-layout-nav>
